/* Color Theme Swatches in Hex */
$Blue-Teal-Monochromatic-1-hex: #348888;
$Blue-Teal-Monochromatic-2-hex: #22babb;
$Blue-Teal-Monochromatic-3-hex: #9ef8ee;
$Blue-Teal-Monochromatic-4-hex: #fa7f08;
$Blue-Teal-Monochromatic-5-hex: #f24405;
